<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791843375284-sgsuepqo3qufbp923e8pqjuu07tcl0v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791843375284-sgsuepqo3qufbp923e8pqjuu07tcl0v8</string>
	<key>API_KEY</key>
	<string>AIzaSyBQVU4-KgAwTcZ_vW9FkB0nevsZumsVqeo</string>
	<key>GCM_SENDER_ID</key>
	<string>791843375284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bovion.app</string>
	<key>PROJECT_ID</key>
	<string>bovionapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bovionapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791843375284:ios:0f164b1c20b21bad2aafe1</string>
</dict>
</plist>